{% extends 'base.html' %}

{% block titleHead %}
<title>GesBod - Edición de usuario.</title>
{% endblock %}

{% block contenido %}
  <h1>Edición de usuario.</h1>
  <p class="lead">
      Modifique los datos del  usuario.
  </p>
  <form method="post">
    {% csrf_token %}

    {% if form.non.field.errors %}
      {{ form.non.field.errors }}
    {% endif %}
    
    {% for field in form.visible_fields %}
      <div <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
        </div>
    {% endfor %}
    <button class="btn btn-lg btn-primary " type="submit"> Grabar </button>
    <a class="btn btn-light" href="{% url 'listaDeUsuarios' %}" role="button"> Cancelar </a></p>
  </form>

 {% endblock %}
