{% extends 'base.html' %}

{% block titleHead %}
<title>GesBod - Ver usuario.</title>
{% endblock %}

{% block contenido %}

  <h1>Información de usuario.</h1>

  <table class="table table-responsive table-bordered table-hover table-striped">
      <tbody>
              <tr>
                <td>Id</td>
                <td>{{ user.id }}</td>
              </tr>
              <tr>
                <td>Usuario</td>
                <td>{{ user.username }}</td>
              </tr>
              <tr>
                <td>Nombre completo</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <td>Tipo</td>
                {% if user.is_superuser %}
                  <td>Administrador</td>
                {% else %}
                  <td>Operador</td>
                {% endif %}
              </tr>
              <tr>
                <td>Estado</td>
                {% if user.is_active %}
                  <td>Activo</td>
                {% else %}
                  <td>Inhabilitado</td>
                {% endif %}
              </tr>
              <tr>
                <td></td>
                <td>
                    <a class="btn btn-light" href="{% url 'editarUsuario' user.id %}" role="button"> Editar </a>
                    <a class="btn btn-light" href="{% url 'eliminarUsuario' user.id %}" role="button"> Eliminar </a>
                </td>
              </tr>
      </tbody>
    </table>
    <a class="btn btn-primary" href="{% url 'listaDeUsuarios' %}" role="button"> Volver </a></p>

 {% endblock %}
