{% extends 'base.html' %}

{% block titleHead %}
<title>GesBod - Registro de categoría.</title>
{% endblock %}

{% block contenido %}

  <h1>Registro de categoría.</h1>
  <p class="lead">
      Ingrese los datos de la nueva categoría.
  </p>
  <form method="post">
    {% csrf_token %}

    {% if form.non.field.errors %}
      {{ form.non.field.errors }}
    {% endif %}
    
    {% for field in form.visible_fields %}
      <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
        </div>
    {% endfor %}

    <button class="btn btn-lg btn-primary " type="submit"> Registrar categoría </button>
    <a class="btn btn-light" href="{% url 'listaDeCategorias' %}" role="button"> Cancelar </a></p>
  </form>

 {% endblock %}
