{% extends "template.html" %}

{% load crispy_forms_tags %}

{% block titleHead %}
VentaStock - {{ title }}
{% endblock %}

{% block titleBody %}
{{ title }}
{% endblock %}

{% block contenido %}
<div class="col-12 col-lg-4">
    <form method="POST">
        <div class="form-group">
            {% csrf_token %}
            
            {% if form.non.field.errors %}
            {{ form.non.field.errors }}
            {% endif %}

            {{ form | crispy }}
        </div>
        <button type="submit" class="btn btn-success mt-3">Iniciar Sesión</button>
    </form>
</div>
{% endblock %}